html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #000;
}

body {
  position: relative;
}

.example-3 {
    overflow-x: hidden;
    overflow-y: auto;
    background: #000;
  }

  .fixed-page {
    background: black;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .effect-3::after {
  content: "";
  display: block;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D9A352;
  z-index: -1;
}